.aboutbox{
    color: grey;
    top: 10%;
    position: absolute;
    margin-left:100px;
    margin-right: 100px;
}
.about-header, .about-mission, .about-vision{
    text-align: center;
    color: purple;
    letter-spacing: 1px
}
.about-mission{
    margin-top: 10%;
}
.about-vision{
    margin-top: 10%;
}