<div class="aboutbox">
    <div class="about-header">
        <h2>
            ABOUT
        </h2>
        <h4>
            Covenant University Blockchain Community is a community exclusive to Covenant University students aimed at fostering the interests of its community members in blockchain technology. It's open to all students irrespective of their skills, course of study or level.
        </h4>
    </div>
    <div class="about-mission">
        <h2 class="mission">
            MISSION
        </h2>
        <h4>
        To be impactful to Covenant University and provide solutions that would scale beyond the school.
        </h4>
    </div>
    <div class="about-vision">
        <h2>
            VISION
        </h2>
        <h4>
                To provide innovative and mind blowing solutions using Blockchain technology that will improve the state of Nigeria and the world at large.
        </h4>
    </div>
</div>