<body>
  <div class= "navstyle">
    <nav>
      <div class = "headerlogo">
          <h1> <img src = ""></h1>
      </div>
    <ul class = "menuclass">
        <li><a routerLink = '/curriculum' routerLinkActive = 'active'> CURRICULUM </a></li>
        <li><a routerLink = '/about'> ABOUT </a></li>
        <li><a routerLink = '/faq'> FAQ </a></li>
        <li id="dropdownbtn" (click)="expand()"><a> ACCOUNT <i class="fa fa-caret-down"></i> </a>
          <ul class="dropdownmenu">
            <li><a routerLink='/signup'>  SIGNUP </a></li>
            <li><a routerLink='/login'> LOGIN </a></li>
          </ul>
        </li>
    </ul>
    </nav>
  </div>
</body>
  <footer class="footer-container">
      <div class="row">
        <div class="column col-lg-3 col-md-6 footer-info">
          <h5 class="footer-info-header">Covenant Blockchain Community</h5>
        </div>
        <div class="column col-lg-3 col-md-6 footer-social">
          <ul>
            <li><a href="https://twitter.com/BlockchainCU"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-medium"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a>
          </ul>
        </div>
        <div class="column col-lg-3 col-md-6 footer-links">
          <ul>
            <li><h6><a routerLink="about"> ABOUT </a></h6></li>
            <li><h6><a routerLink="faq"> FAQ </a></h6></li>
            <li><h6><a routerLink="blog"> BLOG </a></h6></li>
          </ul>
        </div>
        <div class="column col-lg-3 col-md-4 footer-contact">
          <ul>
            <h3 class="footer-contact-header"> Contact Us </h3>
            <li>
              <i class="fa fa-map-marker"></i>
              <h6> Hebron Startup Lab, Covenant University, Ota, Ogun State</h6>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <h6>
                <p>+9082594104</p>
                <p>+9054729319</p>
              </h6>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <h6>
                covenantblockchaincommunity@gmail.com
              </h6>
            </li>
          </ul>
        </div> 
      </div>
  </footer>
<router-outlet></router-outlet>
