*{
    margin: 0;
    padding : 0;
}
body{
    background : linear-gradient(to bottom, white 0%, rgba(234,234,234) 30%);
    -webkit-background-size : cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-decoration-color : white;
    padding-left: 50px;
    padding-right: 50px;
}
.menuclass li a{
    text-decoration: none;
    color : rgba(85,0,85);
    letter-spacing: 1px;
    display : block;
    padding : 0 25px;
    font-size : 14px;
    line-height: 30px;
    position: relative;
    z-index: 0; 
}
.menuclass li{
    list-style: none;
    display : inline-block;
}
.navstyle{
    padding-top : none;
}
nav{
    position: relative;
    padding: 10px 20px 10px 10px;
    text-align: right;
    background: white;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}
.headerlogo{
    width: 15%;
    float: left;
    padding-left: 2%;
}
.menuclass li a:hover{
    color: blueviolet;
}
.footer-container{
    width: 100%;
    height: 10%;
    padding-left: 50px;
    padding-right: 50px;
    position: center;
}
.row{
    padding-top: -100px;
}
.footer-social li{
    float: left;
}
.footer-social ul{
    list-style: none;
    padding-top: 150px;
    padding-left: 60px;
}
.footer-social ul li a{
    color: grey;
    letter-spacing: 50px;
}
.footer-social ul li a:hover{
    color: blueviolet;
}
.footer-info{
    padding-top: 150px;
    position: relative;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li a{
    color: grey;
    letter-spacing: 1px;
    text-decoration: none;
}
.footer-links ul{
    list-style: none;
    padding-top: 130px;
    padding-left: 80px;
}
.footer-links ul li a:hover{
    color: blueviolet
}
.footer-contact ul{
    list-style: none;
    padding-top: 60px;
}
.footer-contact ul li{
    color: grey;
    text-align: left;
}
.footer-contact-header{
    color: grey;
}
.footer-info-header{
    color: grey;
}
.dropdownmenu{
    position: absolute;
    top: 100%;
    left: 100;
    text-align: left;
    display: none;
    background: white;
}
#dropdownbtn{
    bottom: 1px;
    cursor: pointer;
}
#dropdownbtn.tap .dropdownmenu{
    display: block;
}